<div class="flex-shrink-0 p-3 bg-white" style="width: 280px; height: 100vh; background-color: #062761 !important;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold" style="color: white">RH360</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Config da Empresa
        </button>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-white rounded">Minha Empresa</a></li>
            <li><a href="#" class="link-white rounded">Benefícios</a></li>
            <li><a href="#" class="link-white rounded">Área</a></li>
            <li><a href="#" class="link-white rounded">Cargos</a></li>
            <li><a href="#" class="link-white rounded">Filiais</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
          Config do Sistema
        </button>
        <div class="collapse show" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-white rounded">Bla</a></li>
            <li><a href="#" class="link-white rounded">bla</a></li>
            <li><a href="#" class="link-white rounded">bla</a></li>
            <li><a href="#" class="link-white rounded">bla</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed link-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
          Vagas
        </button>
        <div class="collapse show" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-white rounded">Novas</a></li>
            <li><a href="#" class="link-white rounded">Abertas</a></li>
            <li><a href="#" class="link-white rounded">Fechadas</a></li>
            <li><a href="#" class="link-white rounded">Relatórios</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
          Usuários
        </button>
        <div class="collapse show" id="orders-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-white rounded">Meu Perfil</a></li>
            <li><a href="#" class="link-white rounded">Todos os Usuários</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
     
    </ul>
  </div>